.products {
	display: flex;
	flex-flow: column;
	    flex-flow: column;
    align-content: stretch;
    flex-direction: row;
}


.product {
	display: flex;
}

.images-small {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}

.images-big {
	margin: auto;
}

.right {
	margin-left: 10px;
	flex-basis: 25%;
}

.left {
	display: flex;
	flex-basis: 85%
}

@media (max-width: 1050px) {
	.right {
		margin-left: 0px;
		flex-basis: 100%;
	}
	
	.left {
		display: flex;
		flex-basis: 100%;
	}
	
	.product {
		flex-flow: column;
	}
}

.product-action {
	display: flex;
	flex-flow: column;
	width: 150px;
}

.rev-title {
	display: flex;
	align-items: center;
}

.rev-score {
	margin-right: 10px;
}

.rev-reply {
	padding-left: 15px;
}

.button.is-fullwidth {
    display: flex;
    width: 100%;
    background-color: #CC1E39;
}

.button.is-danger.is-hovered, .button.is-danger:hover {
    background-color: #f03a5f;
    border-color: transparent;
    color: #fff;
}

.button.is-info {
    background-color: #3298dc !important;
    border-color: transparent;
    color: #fff;
}

.single-review {
	background-color: #fff;
	padding: 14px 16px;
	border-radius: 14px;
	margin-top: 15px;
}

.button.is-primary {
    background-color: #6AABD2  !important;